*{
    margin: 0;
    padding: 0;
}
.li{
    font-family: "Libre Baskerville", serif;
}
.qc{
    font-family: "Quicksand", sans-serif;
}
.os{
    font-family: "Oswald", sans-serif;
}
.st{
    font-family: "Style Script", cursive;
}

.f1 .noti{
    display: none;
}

.f1 > .noti:hover{
    display: flex;
}